body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%
}

.dark {
  background-color:  #191a2a !important;
  color:  #a9b8e8 !important;
  height: 100vh;
  transition: background-color 0.6s ease, color 0.6s ease;
}

.light {
  background-color: #ade2eb !important;
  color: #01579B !important;
  height: 100vh;
  transition: background-color 0.6s ease, color 0.6s ease;
}

.toggle {
  display: flex;
  justify-content: center;
}

.source-link {
  font-size: 50px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  color: #1b0fc8;
  text-decoration: none;
  font-size: 14px;
}
